;; This file is a configuration file for goku to generate the configuration file
;; for Karabiner-Elements.
;;
;; The EDN format allows for a _very_ concise, flexible, and powerful configuration 
;; of Karabiner.
;;
;; There are several main guidances that this configuration follows:
;;  - Keep both hands engaged in typing i.e. opposing hands should be engaged equally.
;;  - Ensure that the wrists are in a neutral position as much as possible.
;;  - Make the custom rules and mappings as agnostic as possible to the resulting actions.
;;  - Engage the thumbs more in typing rather than doing difficult stretches.
;;
;; Below is a brief reference for the to/from mappings:
;;  !  | means mandatory
;;  #  | means optional
;;  C  | left_command
;;  T  | left_control
;;  O  | left_option
;;  S  | left_shift
;;  F  | fn
;;  Q  | right_command
;;  W  | right_control
;;  E  | right_option
;;  R  | right_shift
;;  P  | caps_lock
;;  !! | mandatory command + control + optional + shift (hyper)
;;  ## | optional any
{; Templates use basic string formatting to substitute the given arguments
 ; i.e. %s is substituted with the application name.
 :templates {; This template is used to launch or focus an application.
             :launch "osascript -e 'tell application \"%s\" to activate'"}

 :main [{:des "Mirror Control & Easy Escape"
         ; This modification does several things:
         ;  - Caps Lock is turned into the Left Control when held down.
         ;  - Caps Lock is turned into the Escape when tapped.
         ;  - Quote (') is turned into the Right Control when held down.
         ;
         ; These rules first and foremost make both the Control and Escape
         ; more accessible and comfortable to use. Secondly, the modification
         ; fixes the issue of the Control key on MacOs being asymmetrical i.e.
         ; only available on the left side of the keyboard.
         :rules [[:##caps_lock :left_control nil {:alone :escape}]
                 [:##quote :right_control nil {:alone :quote}]]}

        {:des "Hyper Key"
         ; This modification adds an easy way to trigger all modifiers
         ; i.e. the _Hyper_ key by pressing the Left Control key.
         :rules [[:left_control :!C!O!Sleft_control]]}

        {:des "Left Command Layer - 1-5 Function Keys"
         ; This layer is activated by holding Left Command and using the first
         ; five number row keys. This layer provides better access to function 
         ; keys.
         ;
         ; Function keys => 1/2/3/4/5 to F1/F2/F3/F4/F5.
         ; All other keys => post nothing to promote good typing habits.
         :rules [[:!C##tab :vk_none]
                 [:!C##1 :f1]
                 [:!C##2 :f2]
                 [:!C##3 :f3]
                 [:!C##4 :f4]
                 [:!C##5 :f5]
                 [:!C##q :vk_none]
                 [:!C##w :vk_none]
                 [:!C##e :vk_none]
                 [:!C##r :vk_none]
                 [:!C##t :vk_none]
                 [:!C##a :vk_none]
                 [:!C##s :vk_none]
                 [:!C##d :vk_none]
                 [:!C##f :vk_none]
                 [:!C##g :vk_none]
                 [:!C##grave_accent_and_tilde :vk_none]
                 [:!C##z :vk_none]
                 [:!C##x :vk_none]
                 [:!C##c :vk_none]
                 [:!C##v :vk_none]
                 [:!C##b :vk_none]]}

        {:des "Right Command Layer - 6-12 Function Keys & Arrow Keys",
         ; This layer is activated by holding Right Command and using the first
         ; rest of the number row keys. This layer provides better access to function
         ; keys.
         ;
         ; Function keys => 6/7/8/9/0/-/= to F6/F7/F8/F9/F10/F11/F12.
         ; Text navigation => H/J/K/L to Left/Down/Up/Right.
         ; All other keys => post nothing to promote good typing habits.
         :rules [[:!Q##6 :f6]
                 [:!Q##7 :f7]
                 [:!Q##8 :f8]
                 [:!Q##9 :f9]
                 [:!Q##0 :f10]
                 [:!Q##hyphen :f11]
                 [:!Q##equal_sign :f12]
                 [:!Q##y :vk_none]
                 [:!Q##u :vk_none]
                 [:!Q##i :vk_none]
                 [:!Q##o :vk_none]
                 [:!Q##p :vk_none]
                 [:!Q##open_bracket :vk_none]
                 [:!Q##close_bracket :vk_none]
                 [:!Q##h :left_arrow]
                 [:!Q##j :down_arrow]
                 [:!Q##k :up_arrow]
                 [:!Q##l :right_arrow]
                 [:!Q##semicolon :vk_none]
                 [:!Q##quote :vk_none]
                 [:!Q##n :fn]
                 [:!Q##m :vk_none]
                 [:!Q##comma :vk_none]
                 [:!Q##period :vk_none]
                 [:!Q##slash :vk_none]
                ]}

        {:des "Easy Forward Delete"
         ; This modification makes it easy to do forward deletion by
         ; turning the Delete key into Forward Delete when the Left Shift
         ; is active.
         :rules [[:!S#C#Odelete_or_backspace :delete_forward]]}]}
